
.Header {
    grid-area: h;
    background-color: #396bae;
    border: 1px solid #212941;
    border-radius: 5px;
    font-size: 18px;
    font-family: roboto;
    color: #ffffff;
}

/*.Header {*/
/*    background-color: #4d7cae;*/
/*    border: 1px solid #212941;*/
/*    border-radius: 5px;*/
/*    padding: 8px 15px;*/
/*    color: #ffffff;*/
/*    font-size: 18px;*/
/*    font-family: roboto;*/
/*}*/

.Header img {
   width: 50px;
}