
.Header {
    grid-area: h;
    background-color: rgba(0, 1, 52, 0.95);
    border: 1px solid #0f1cff;
    border-radius: 5px;
    font-size: 22px;
    font-family: roboto;
    color: #ffffff;
    text-align: left;
    display: flex;
    align-items: center;

    /*grid-template-columns: 60px 1fr;*/
    /*grid-template-areas:*/
    /*        "lable ."*/
    /*        "lable links";*/
    /*display: grid;*/
}


.links {
    grid-area: links;

}

.lable {
    grid-area: lable;
}
.lable img {
    width: 50px;
}