
.Profile {
    grid-area: p;
    background-color: #ffffff;
    padding: 8px 15px;

}

.Person {


    border: 1px solid #212941;
    border-radius: 12px;
    padding: 8px 15px;
    color: #000000;

    display: grid;

    grid-template: "ava stats";
    grid-template-columns: 1fr 8fr;
    grid-gap: 25px;
}

.Avatar {
    grid-area: ava;

}

.PersonStats {
    grid-area: stats;
}

.Avatar img {
    height: 200px;
    border-radius: 15px;
}

.Head img {
    height: 350px;
    border-radius: 15px;
}



/*.Profile{*/
/*    background-color: #4d7cae;*/
/*    border: 1px solid #212941;*/
/*    border-radius: 5px;*/
/*    padding: 8px 15px;*/
/*    color: #ffffff;*/
/*    font-size: 18px;*/
/*    font-family: roboto;*/
/*}*/
